<html>
    <head>
        <style>
            body {
            margin: 0px;
            padding: 0px;
            }
        </style>
        <script>
            const roomId = "<%= room %>";
            const roomURL = "<%= roomURL %>";
        </script>
    </head>
    <body>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="js/gp.js"></script>
        <script src="js/editor.js"></script>
    </body>
</html>