<html>

    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
        <link rel="stylesheet" href="css/index.css"></link>
    </head>

    <div id="container">

        <button id="menu-toggle">Close</button>

        <div id="menu" class="menu menu-open">
        </div>

        <div id="canvas-container">
        </div>

        <script src="js/index.js"></script>
        <script src="js/app.js"></script>

    </div>
  
</html>
